@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  font-size: 3rem;
}
.report {
  display: flex;
  height: 90vh;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}
.div2 {
  width: 86%;
  height: 60%;  
  margin-left: 16%;
  border-radius: 20px;
  background-image: url("../src/images/cv1.png");
  background-repeat: no-repeat;
  background-position: center;
  
}


/*File mail styles*/


h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
  font-size: medium;
  font-weight: bold;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 50%;
  border: none;
  background-color: #0ac74a !important;
  margin-left: 22%;
  margin-top: 10%;
  font-weight: bold !important;
  color: aliceblue !important;
  }
  
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card{
margin-left: 10px;
margin-right: 10px;
}

/*form-box customization*/
.form-control:focus {
  border-color: transparent !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(111, 238, 153) !important;
}

.bg {
  background-image: url("./images/bg.png") !important;
  background-repeat: no-repeat;
 

}

.title{
  color: linear-gradient(to bottom, #0ac74a, #000000);
}

.animateContainer {
  
  width: 260px;
  
 margin-top: 35%;
  display: grid;
  grid-template-columns: repeat(6, 60px);
 
  
  margin-left: 45%;
 
}
.animateContainer .circleCell {
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 50%;
}
.animateContainer .circleCell:nth-child(1) {
  animation: circleAnimation 2s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite -0.6s;
}
.animateContainer .circleCell:nth-child(2) {
  animation: circleAnimation 2s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite -0.3s;
}
.animateContainer .circleCell:nth-child(3) {
  animation: circleAnimation 2s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite;
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    background: #0ac74a;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}




.encloser {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
margin-top: 10%;
}

.main-container {
  height: 300px;
  width: 300px;
  animation: border-radius-change 10s linear 0s infinite alternate both;
}

@keyframes border-radius-change {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background: #aa4b6b;
  }
  16.67% {
    border-radius: 75% 25% 75% 25% / 75% 25% 75% 25%;
    background: #fc6767;
  }
  33.34% {
    border-radius: 25% 75% 25% 75% / 25% 25% 75% 75%;
    background: #3e5151;
  }
  50.51% {
    border-radius: 75% 25% 25% 75% / 75% 75% 25% 25%;
    background: #22c1c3;
  }
  66.68% {
    border-radius: 25% 75% 75% 25% / 75% 25% 75% 25%;
    background: #a5cc82;
  }
  83.35% {
    border-radius: 25% 75% 25% 75% / 25% 75% 25% 75%;
    background: #2c3e50;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background: #ffe259;
  }
}


.react-datepicker__input-container {
  border: none;
  outline: none;
  
}



